.users-carts, .user-block, .polls-carts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-list {
    box-shadow: 0 0 10px rgba(15, 10, 5, 0.1);
    border-radius: 2px;
    margin-bottom: 25px;
    padding: 25px;
    width: 350px;
    margin-right: 40px;
}

.user-block, .poll-cart {
    box-shadow: 0 0 10px rgba(15, 10, 5, 0.1);
    border-radius: 2px;
    padding: 30px;
    width: 550px;
    margin: auto;
    margin-top: 15px;
}

.poll-cart {
    margin-bottom: 30px;
}

.poll-link {
    text-decoration: underline;
}