.form-input, .form-button {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
}

.form-title {
    text-align: center;
}

.form-input {
    border: none;
    outline: none;
    width: 450px;
    height: 30px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #030303;
}

.form-button {
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
}

.sign-up-form-btn {
    width: 240px;
}

.auth-block {
    display: flex;
    justify-content: center;
    height: 280px;
    width: 40%;
    height: 500px;
    box-shadow: 0 0 10px rgba(15, 10, 5, 0.1);
    border-radius: 2px;
    margin: auto;
    margin-top: 100px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}