body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

h1, h2, .logo-text {
    font-weight: normal;
}

a {
    text-decoration: none;
}

.header-container {
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background-color: #1a1a1a;
    padding: 35px 0;
}

.logo-text {
    margin: 0;
    margin-left: 80px;
}

.logo-text a {
    color: #ffffff;
}

.navigation ul {
    list-style: none;
}

.navigation li {
    display: inline;
    margin-right: 20px;
}

.main-content {
    padding: 50px 0;
}

.main-content h2 {
    color: #333;
}

.main-content p {
    color: #555;
    font-size: 18px;
}

.greeting-container {
    text-align: center;
    margin-bottom: 20px;
}

.poll-container, .poll-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.poll-form .default-button {
    margin-top: 5px;
}

.answer {
    padding-bottom: 20px;
}

.default-button {
    display: inline-block;
    background-color: #ffffff;
    padding: 15px 30px;
    color: #030303;
    border: 2px solid #030303;
    border-radius: 2px;
    transition: background-color 0.5s ease;
    font-size: 16px;
}

.default-button:hover {
    background-color: #030303;
    color: #ffffff;
}

.header-button {
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 12px 22px;
    border-radius: 2px;
    transition: background-color 0.5s ease;
}

.header-button:hover {
    background-color: #ffffff;
    color: #030303;
}

.links-btns {
    display: flex;
    justify-content: space-around;
    width: 580px;
    margin: auto;
    margin-top: 35px;
}

