.default-answer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 60px;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #fff;
    padding: 15px 30px;
    width: 300px;
    box-shadow: 0 0 10px rgba(15, 10, 5, 0.1);
  }
  
.modal .visible {
    display: block;
}
  
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}
  
.modal button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 18px;
    color: #333;
} 
  
.visible {
    display: block;
}

.votes-count {
    background-color: white;
    font-size: 16px;
    border: 0px;
    cursor: pointer;
}

.create-poll-form-block, .create-poll-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
